<form action="/result">
  <input
    type="text"
    name="inputText"
    class="form-control mb-3"
    id="input-url"
    placeholder="Input URL here"
    aria-label="Input URL here"
    aria-describedby="button-addon2"
  />
  <button
    class="btn btn-outline-primary w-100 mb-5"
    type="submit"
    id="btn-shorten"
  >Shorten</button>
</form>

<div id="success" class="d-flex flex-column align-items-center"></div>